In [1]:
import pandas as pd

In [20]:
bike_df = pd.read_csv("202012-citibike-tripdata.csv")
bike_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,694,2020-12-01 00:00:03.7770,2020-12-01 00:11:38.3160,4065,Wadsworth Ave & W 179 St,40.848467,-73.936064,3959,Edgecombe Ave & W 145 St,40.823498,-73.943860,49454,Customer,1988,2
1,4131,2020-12-01 00:00:09.1730,2020-12-01 01:09:00.2370,3284,E 88 St & Park Ave,40.781411,-73.955959,3147,E 85 St & 3 Ave,40.778012,-73.954071,49524,Subscriber,1988,1
2,1368,2020-12-01 00:00:28.7470,2020-12-01 00:23:16.9980,3443,W 52 St & 6 Ave,40.761330,-73.979820,3563,28 St & 36 Ave,40.757186,-73.932719,34312,Subscriber,1977,2
3,1707,2020-12-01 00:00:34.7680,2020-12-01 00:29:02.6470,72,W 52 St & 11 Ave,40.767272,-73.993929,3336,E 97 St & Madison Ave,40.787801,-73.953559,45491,Subscriber,1982,0
4,2182,2020-12-01 00:00:36.4030,2020-12-01 00:36:59.0330,3165,Central Park West & W 72 St,40.775794,-73.976206,3952,E 141 St & Jackson Ave,40.806896,-73.911837,16558,Customer,1997,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1088924,2045,2020-12-31 23:58:21.7040,2021-01-01 00:32:27.1570,526,E 33 St & 5 Ave,40.747659,-73.984907,3614,Crescent St & 30 Ave,40.768692,-73.924957,36467,Subscriber,1994,1
1088925,288,2020-12-31 23:58:37.8400,2021-01-01 00:03:26.3250,3307,West End Ave & W 94 St,40.794165,-73.974124,3383,Cathedral Pkwy & Broadway,40.804213,-73.966991,47749,Subscriber,1969,0
1088926,152,2020-12-31 23:58:52.8090,2021-01-01 00:01:25.6720,3510,Adam Clayton Powell Blvd & W 123 St,40.807832,-73.949373,3518,Lenox Ave & W 126 St,40.808442,-73.945209,48691,Customer,1969,0
1088927,654,2020-12-31 23:59:55.9550,2021-01-01 00:10:50.6050,4073,W 51 St & Rockefeller Plaza,40.759700,-73.978082,500,Broadway & W 51 St,40.762288,-73.983362,49564,Subscriber,1994,1
1088928,2589,2020-12-31 23:59:57.4070,2021-01-01 00:43:06.4490,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47364,Customer,1969,0

In [9]:
bike_group = bike_df.groupby("usertype").agg({'bikeid':'count',
                                                      'tripduration': ['mean','sum']})
bike_group

            bikeid tripduration
             count         mean        sum
usertype
Customer    168312  1797.431966  302529369
Subscriber  920617   868.879109  799904879

In [19]:
bike_group = bike_df.groupby("startdate").agg({'bikeid':'count',
                                                      'tripduration': ['mean','sum']})
bike_group

KeyError: 'startdate'

In [15]:
duration = ((pd.to_datetime(bike_df['stoptime']) - pd.to_datetime(bike_df['starttime']))
                                .dt.total_seconds() / 60)
print (duration)

0          11.575650
1          68.851067
2          22.804183
3          28.464650
4          36.377167
             ...
1088924    34.090883
1088925     4.808083
1088926     2.547717
1088927    10.910833
1088928    43.150700
Length: 1088929, dtype: float64