In [21]:
import pandas as pd
import glob

### Concatinating 2019 citibike csv files

In [22]:
#bike_df = pd.read_csv("202012-citibike-tripdata.csv")
bike_2019_df = pd.concat(map(pd.read_csv, glob.glob('Resources/2019/*.csv')))
bike_2019_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,219,2019-02-01 00:00:06.2570,2019-02-01 00:03:46.1090,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,2019-02-01 00:00:28.0320,2019-02-01 00:02:51.7460,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,2019-02-01 00:01:13.9870,2019-02-01 00:06:10.7340,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,2019-02-01 00:01:14.1520,2019-02-01 00:09:12.7870,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,2019-02-01 00:01:49.3410,2019-02-01 00:05:34.4980,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924558,304,2019-05-31 23:59:45.5760,2019-06-01 00:04:50.4620,3175.0,W 70 St & Amsterdam Ave,40.777480,-73.982886,423.0,W 54 St & 9 Ave,40.765849,-73.986905,32285,Subscriber,1987,2
1924559,324,2019-05-31 23:59:46.4650,2019-06-01 00:05:11.1630,2003.0,1 Ave & E 18 St,40.733812,-73.980544,536.0,1 Ave & E 30 St,40.741444,-73.975361,33874,Subscriber,1994,2
1924560,1926,2019-05-31 23:59:51.5060,2019-06-01 00:31:58.3920,146.0,Hudson St & Reade St,40.716250,-74.009106,422.0,W 59 St & 10 Ave,40.770513,-73.988038,33395,Subscriber,1985,1
1924561,2047,2019-05-31 23:59:52.4170,2019-06-01 00:34:00.1970,3658.0,W 18 St & 9 Ave,40.743534,-74.003676,2008.0,Little West St & 1 Pl,40.705693,-74.016777,27624,Subscriber,1987,0
1924562,964,2019-05-31 23:59:55.5500,2019-06-01 00:15:59.8680,285.0,Broadway & E 14 St,40.734546,-73.990741,3656.0,E 2 St & Avenue A,40.723077,-73.985836,32565,Subscriber,1992,2

## Convert Date columns

In [57]:
bike_2019_df['starttime']=pd.to_datetime(bike_2019_df['starttime'])
bike_2019_df['stoptime']=pd.to_datetime(bike_2019_df['stoptime'])
bike_2019_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,219,2019-02-01 00:00:06.257,2019-02-01 00:03:46.109,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,2019-02-01 00:00:28.032,2019-02-01 00:02:51.746,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,2019-02-01 00:01:13.987,2019-02-01 00:06:10.734,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,2019-02-01 00:01:14.152,2019-02-01 00:09:12.787,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,2019-02-01 00:01:49.341,2019-02-01 00:05:34.498,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924558,304,2019-05-31 23:59:45.576,2019-06-01 00:04:50.462,3175.0,W 70 St & Amsterdam Ave,40.777480,-73.982886,423.0,W 54 St & 9 Ave,40.765849,-73.986905,32285,Subscriber,1987,2
1924559,324,2019-05-31 23:59:46.465,2019-06-01 00:05:11.163,2003.0,1 Ave & E 18 St,40.733812,-73.980544,536.0,1 Ave & E 30 St,40.741444,-73.975361,33874,Subscriber,1994,2
1924560,1926,2019-05-31 23:59:51.506,2019-06-01 00:31:58.392,146.0,Hudson St & Reade St,40.716250,-74.009106,422.0,W 59 St & 10 Ave,40.770513,-73.988038,33395,Subscriber,1985,1
1924561,2047,2019-05-31 23:59:52.417,2019-06-01 00:34:00.197,3658.0,W 18 St & 9 Ave,40.743534,-74.003676,2008.0,Little West St & 1 Pl,40.705693,-74.016777,27624,Subscriber,1987,0
1924562,964,2019-05-31 23:59:55.550,2019-06-01 00:15:59.868,285.0,Broadway & E 14 St,40.734546,-73.990741,3656.0,E 2 St & Avenue A,40.723077,-73.985836,32565,Subscriber,1992,2

## Grouping bikes by month and start station

In [82]:
start_stations_2019_df = bike_2019_df.groupby([bike_2019_df['starttime'].dt.month, 'start station id']).agg({'bikeid':'count',
                                                      'tripduration': 'mean',
                                                       'start station name':'first',
                                                       'start station latitude':'first',
                                                       'start station longitude':'first'})
start_stations_2019_df = start_stations_2019_df.reset_index(level=[0,1])

start_stations_2019_df = start_stations_2019_df.rename(columns={'starttime' : 'start month',
                                                    'start station id': 'station id',
                                                    'tripduration': 'avg trip duration', 
                                                    'bikeid':"number of bikes",
                                                    'start station name': 'station name',
                                                    'start station latitude': "latitude",
                                                    'start station longitude': 'longitude'})
start_stations_2019_df['start month']=pd.to_datetime(start_stations_2019_df['start month'],format="%m")
start_stations_2019_df['start month'] = start_stations_2019_df['start month'].dt.month_name()
#start_stations_2019_df
start_stations_2019_df.to_csv('data/2019_citibikes_start_stations.csv', index=False)

In [83]:
end_stations_2019_df = bike_2019_df.groupby([bike_2019_df['stoptime'].dt.month, 'end station id']).agg({'bikeid':'count',
                                                      'tripduration': 'mean',
                                                       'end station name':'first',
                                                       'end station latitude':'first',
                                                       'end station longitude':'first'})
end_stations_2019_df = end_stations_2019_df.reset_index(level=[0,1])

end_stations_2019_df = end_stations_2019_df.rename(columns={'stoptime' : 'stop month',
                                                    'end station id': 'station id',
                                                    'tripduration': 'avg trip duration', 
                                                    'bikeid':"number of bikes",
                                                    'end station name': 'station name',
                                                    'end station latitude': "latitude",
                                                    'end station longitude': 'longitude'})
end_stations_2019_df['stop month']=pd.to_datetime(end_stations_2019_df['stop month'],format="%m")
end_stations_2019_df['stop month'] = end_stations_2019_df['stop month'].dt.month_name()
#start_stations_2019_df
end_stations_2019_df.to_csv('data/2019_citibikes_end_stations.csv', index=False)

## Group data by usertype

In [86]:
bike_2019_usertype_df = bike_2019_df.groupby([bike_2019_df['starttime'].dt.month, "usertype"]).agg({'bikeid':'count',
                                                      'tripduration': 'mean'})
bike_2019_usertype_df = bike_2019_usertype_df.reset_index(level=[0,1])
bike_2019_usertype_df = bike_2019_usertype_df.rename(columns={'starttime' : 'month',
                                                    'tripduration': 'avg trip duration', 
                                                    'bikeid':"number of bikes"})
bike_2019_usertype_df['month']=pd.to_datetime(bike_2019_usertype_df['month'],format="%m")
bike_2019_usertype_df['month'] = bike_2019_usertype_df['month'].dt.month_name()
bike_2019_usertype_df
bike_2019_usertype_df.to_csv('data/2019_citibikes_usertype.csv', index=False)

        month    usertype  number of bikes  avg trip duration
0     January    Customer            40173        2186.768178
1     January  Subscriber           927114         714.703646
2    February    Customer            46351        2412.284136
3    February  Subscriber           897393         721.744222
4       March    Customer           106658        2317.771700
5       March  Subscriber          1221302         757.327164
6       April    Customer           229433        2319.900681
7       April  Subscriber          1536661         871.132211
8         May    Customer           294566        2370.633501
9         May  Subscriber          1629997         831.636315
10       June    Customer           372844        2338.538517
11       June  Subscriber          1752526         847.855050
12       July    Customer           378009        2095.941263
13       July  Subscriber          1803055         813.009680
14     August    Customer           443865        2039.502540
15     August  Subscriber          1900359         819.096146
16  September    Customer           434407        1904.358802
17  September  Subscriber          2010493         819.324522
18    October    Customer           295753        1777.691300
19    October  Subscriber          1796820         772.516762
20   November    Customer           152492        1829.571132
21   November  Subscriber          1326216         723.072944
22   December    Customer            61097        2269.640162
23   December  Subscriber           955408         730.561155

## Group data by Age group and gender

In [93]:
#create the bins for the age groups
age_bins = [10, 19, 29, 39, 49, 59, 69, 100]

#create the labels for the age groups
age_group_names = ["<20", "20-29", "30-39", "40-49", "50-59", "60-69", "70+"]

bike_2019_df['age'] = 2019 - bike_2019_df['birth year']
bike_2019_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,219,2019-02-01 00:00:06.257,2019-02-01 00:03:46.109,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1,30
1,143,2019-02-01 00:00:28.032,2019-02-01 00:02:51.746,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1,29
2,296,2019-02-01 00:01:13.987,2019-02-01 00:06:10.734,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1,32
3,478,2019-02-01 00:01:14.152,2019-02-01 00:09:12.787,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2,55
4,225,2019-02-01 00:01:49.341,2019-02-01 00:05:34.498,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924558,304,2019-05-31 23:59:45.576,2019-06-01 00:04:50.462,3175.0,W 70 St & Amsterdam Ave,40.777480,-73.982886,423.0,W 54 St & 9 Ave,40.765849,-73.986905,32285,Subscriber,1987,2,32
1924559,324,2019-05-31 23:59:46.465,2019-06-01 00:05:11.163,2003.0,1 Ave & E 18 St,40.733812,-73.980544,536.0,1 Ave & E 30 St,40.741444,-73.975361,33874,Subscriber,1994,2,25
1924560,1926,2019-05-31 23:59:51.506,2019-06-01 00:31:58.392,146.0,Hudson St & Reade St,40.716250,-74.009106,422.0,W 59 St & 10 Ave,40.770513,-73.988038,33395,Subscriber,1985,1,34
1924561,2047,2019-05-31 23:59:52.417,2019-06-01 00:34:00.197,3658.0,W 18 St & 9 Ave,40.743534,-74.003676,2008.0,Little West St & 1 Pl,40.705693,-74.016777,27624,Subscriber,1987,0,32
1924562,964,2019-05-31 23:59:55.550,2019-06-01 00:15:59.868,285.0,Broadway & E 14 St,40.734546,-73.990741,3656.0,E 2 St & Avenue A,40.723077,-73.985836,32565,Subscriber,1992,2,27

In [104]:
#splice the data into the bins
age_series = pd.cut(bike_2019_df["age"], age_bins, labels=age_group_names, include_lowest=True)

#group the data by age groups
bike_2019_df['Age Ranges'] = age_series

bike_2019_age_ranges_df = bike_2019_df.groupby([bike_2019_df['starttime'].dt.month, bike_2019_df['Age Ranges'], "gender"]).agg({'bikeid':'count',
                                                       'tripduration': 'mean'})

bike_2019_age_ranges_df = bike_2019_age_ranges_df.reset_index(level=[0,1,2])
bike_2019_age_ranges_df = bike_2019_age_ranges_df.rename(columns={'starttime' : 'month',
                                                    'tripduration': 'avg trip duration', 
                                                    'bikeid':"number of bikes"})
bike_2019_age_ranges_df['month']=pd.to_datetime(bike_2019_age_ranges_df['month'],format="%m")
bike_2019_age_ranges_df['month'] = bike_2019_age_ranges_df['month'].dt.month_name()
bike_2019_age_ranges_df
bike_2019_age_ranges_df.to_csv('data/2019_citibikes_age_gender.csv', index=False)

0          11.575650
1          68.851067
2          22.804183
3          28.464650
4          36.377167
             ...
1088924    34.090883
1088925     4.808083
1088926     2.547717
1088927    10.910833
1088928    43.150700
Length: 1088929, dtype: float64